body {
        background: url("../../assets/images/vaporwave.png");
    color: rgb(0, 242, 255);
    text-shadow: 5px 5px 20px black;
    font-family: 'Russo One',
    sans-serif;
     -webkit-text-stroke-width: .3px;
     -webkit-text-stroke-color: rgb(0, 162, 255);
    letter-spacing: 10px;
}

img {
    box-shadow: 15px 10px rgba(3, 58, 61, 0.212);
}

#start-button {
    background-color:rgb(255, 62, 130);
    box-shadow: 5px 10px rgba(21, 243, 255, 0.212);
    color : rgb(13, 243, 255);
    ;
    cursor: pointer;
    font-weight: bold;
    font-size: 37px;
    letter-spacing: 3px;
    opacity: .70;
    border-radius: 8px;
}

#content img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.background img {
    position: absolute;
    right: 10px;
    bottom: -13px
}

